<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.JoMapper">

<!-- joList -->
	<select id="selectList" resultType="com.example.demo.domain.JoDTO">
		select J.JNO, J.JNAME, J.CAPTAIN, M.NAME cname, J.PROJECT, J.SLOGAN, J.uploadfile FROM JO J, MEMBER M WHERE J.CAPTAIN = M.ID
	</select>
	
<!-- joDetail -->
	<select id="selectOne" resultType="com.example.demo.domain.JoDTO">
		SELECT * FROM jo WHERE jno=#{jno}
	</select>

<!-- joInsert -->
	<insert id="insert">
		insert into jo values(#{jno},#{jname},#{captain},#{project},#{slogan})
	</insert>
	
<!-- joUpdate -->
	<update id="update">
		update jo set jname=#{jname}, captain=#{captain}, project=#{project}
		, slogan=#{slogan} where jno=#{jno}
	</update>

<!-- joDelete -->
	<delete id="delete">
		delete from jo where jno=#{jno}
	</delete>
</mapper>